    @model IEnumerable<bwarrickShoppingApp.Models.CodeFirst.Item>

        <div class="container">
            <div class="row" style="padding-top:50px; margin-left:20px;">
                @foreach(var item in Model)
                {
                <div class="col-md-3">
                    <img class="img-responsive" src="@item.MediaURL" />
                    <p>@item.Name</p>
                    <p><b>$@item.Price</b></p>
                    <p>@item.Description</p>
                        <a href="@Url.Action("Details", new { id = item.Id })"> Details</a>
                       
                    @if (User.IsInRole("Admin"))
                    {
                        <span>|</span>
                        @Html.ActionLink("Create new ", "Create", new { id = item.Id }) 
                        <span>|</span>
                        @Html.ActionLink("Edit ", "Edit", new { id = item.Id}) 
                        <span>|</span> 
                        @Html.ActionLink("Delete ", "Delete", new { id = item.Id})
                    }
                </div>
                }
                @*<div class="col-md-3">
                    <img class="img-responsive" src="~/Assets/Images/m2.jpg" />
                    <p>CFW-1100</p>
                    <p><b>$1600.00</b></p>
                </div>
                <div class="col-md-3">
                    <img class="img-responsive" src="~/Assets/Images/m3.jpg" />
                    <p>CFW-850</p>
                    <p><b>$1550.00</b></p>
                </div>
                <div class="col-md-3">
                    <img class="img-responsive" src="~/Assets/Images/m5.jpg" />
                    <p>CFW-2500</p>
                    <p><b>$2000.00</b></p>
                </div>*@
            </div>
            @*<div class="row" style="padding-top:50px; padding-bottom:10px; margin-left:20px;">
                <div class="col-md-3">
                    <img class="img-responsive" src="~/Assets/Images/m6.jpg" />
                    <p>CFAW-1300</p>
                    <p><b>$2300.00</b></p>
                </div>
                <div class="col-md-3">
                    <img class="img-responsive" src="~/Assets/Images/m7.jpg" />
                    <p>CFAW-5000</p>
                    <p><b>$3500.00</b></p>
                </div>
                <div class="col-md-3">
                    <img class="img-responsive" src="~/Assets/Images/m8.jpg" />
                    <p>CFAW-2500</p>
                    <p><b>$2800.00</b></p>
                </div>
                <div class="col-md-3">
                    <img class="img-responsive" src="~/Assets/Images/m9.jpg" />
                    <p>CFAW-1050</p>
                    <p><b>$1500.00</b></p>
                </div>
            </div>*@
        </div>
       